@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Translate Service</h1>
    <form asp-controller="Home" asp-action="Translate">
        <input name="translateWord"/>
        <input type="submit" value="Translate" />
    </form>
</div>